#container{
  max-width: 540px;
  margin: 0 auto;
}
/* head */
#head{
  height: 0.9rem;
  line-height: 0.9rem;
  position: relative;
}
#head::after{
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  transform: scaleY(0.5);
  position: absolute;
  left: 0;
  bottom: 0;
}

#head-back{
  display: inline-block;
  width: 0.8rem;
  height: 0.9rem;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
#head-wrapper{
  height: 0.9rem;
  text-align: center;
  font-size: 14px;
  line-height: 0.9rem;
  vertical-align: middle;
}
#head-wrapper span {
  margin: 0 0.26rem;
}
#head-wrapper span.active{
  font-size: 16px;
  color: #FE4845;
}
#head-search{
  display: inline-block;
  width: 1.34rem;
  height: 0.9rem;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
}
/* move */
.move-list{
  display: flex;
  height: 2.4rem;
  padding: 0.2rem 0.3rem;
  position: relative;
}
.move-list::after{
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid red;
  transform: scaleY(0.5);
  position: absolute;
  left: 0;
  bottom: 0;
}
.move-list > img {
  width: 1.8rem;
  margin-right: 0.21rem;
}
.move-info{
  flex: 1;
}
.move-btn{
  width: 1.12rem;
  height: 0.54rem;
  font-size: 14px;
  text-align: center;
  line-height: 0.54rem;
  color: #fff;
  background: #FE4845;
  position: absolute;
  right: 0.3rem;
  bottom: 0.2rem;
}